header{
    border: solid 3px black;
    padding: 20px;
    background: purple;
    margin: 0px 3px;
    width: 10%;
}



img{
    width: 10%;
}

header:hover{background:brown;}

ul{
    list-style: none;
}

a:hover{color: black;}